

 <!-- Navbar Start -->

 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
      <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Formini</h2>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a class="nav-item nav-link active" [routerLink]="['/home']">Home</a>
          <a  class="nav-item nav-link" [routerLink]="['/about']">About</a>
          <a  class="nav-item nav-link"[routerLink]="['/courses']">Courses</a>
          <a  class="nav-item nav-link"[routerLink]="['/testimonial']">Testimonial</a>
          <a  class="nav-item nav-link"[routerLink]="['/team']">Our Team</a>
          <a class="nav-item nav-link" [routerLink]="['/contact']">Contact</a>
          <a class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" [routerLink]="['/login']">Login<i class="fa fa-arrow-right ms-3"></i></a>

      </div>
     </div>
</nav>
<!-- Navbar End -->
